body
{
    background: url(http://vignette3.wikia.nocookie.net/batman/images/5/5e/VLpul.jpg/revision/latest?cb=20110930181759}) no-repeat center center fixed;

}
h1
{
    text-align: center;
}
form
{
	padding-top: 2cm;
    text-align: center;
}